.main-container {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: 100%;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 5;
}
.main-container.main-container--hide {
  display: none;
}
